<!DOCTYPE html>
<html lang="fr">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Bienvenue sur Guidalo</title>

  <!-- Bootstrap core CSS -->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">

</head>
<div class="container">

    

    <h2>Qu'est ce que le RGPD ?</h2>

    <p> Le sigle RGPD signifie Règlement Générale sur la Protection des Données.
        Le RGPD encadre le traitement des données personnelles sur le territoire de l'Union Européenne. 
        Ce nouveau règlement européen s'inscrit dans la continuité de la loi française informatique et liberté
        de 1978 et renforce le contrôle par les citoyens de l'utilisation qui peut être faite de données des concernant.
        Il harmonise les règles en Europe en offrant un cadre juridique professionnels. Il permet de développer leurs 
        activités numériques au sein de l'Union Européenne en se fondant sur la confiance des utilisateurs.
</p>


<h2>Qu’est-ce qu’une donnée personnelle ?</h2>

<p>Une donnée personnelle est toute information se rapportant à une personne physique identifiée ou identifiable. Une personne peut être identifiée :
<ul>

<li>directement grâce à son nom et prénom</li>
<li>indirectement (par un identifiant, numéro de téléphone, plusieurs éléments sur son identité physique)</li>
</ul>
<p> L’identificateur d’une personne physique peut être réalisé :</p>
<ul>
<li>À partir d’une seule donnée (son n° de sécu, l’ADN)</li>
<li>À partir du croisement d’un ensemble de données (femme habitant …)</li>
</ul>
</p>

<h2>Qu’est -ce qu’un traitement de données personnelles ?</h2>


    <p> Un traitement de donnée peut avoir un objectif, une finalité c.à.d. que vous ne pouvez pas collecter ou traiter des données personnelles simplement au cas où cela vous serait utile un jour.
         À chaque traitement de données doit être assigné un but qui doit bien évidemment être légal et légitime au regard de votre activité professionnelle.
        Un traitement de données personnels est une opération, ou ensemble d’opérations, portant sur des données personnelles quelques soit le procédé utilisé (collecte, enregistrement, organisation, conservation, adaptation …). 
        Un traitement de données personnelles n’est pas nécessairement informatisé : les fichiers papier sont également concerné et doivent être protégé dans les mêmes conditions. 

</p>


<h2>Qu’est -ce qu’un traitement de données personnelles ?</h2>


    <p> Un traitement de donnée peut avoir un objectif, une finalité c.à.d. que vous ne pouvez pas collecter ou traiter des données personnelles simplement au cas où cela vous serait utile un jour.
         À chaque traitement de données doit être assigné un but qui doit bien évidemment être légal et légitime au regard de votre activité professionnelle.
        Un traitement de données personnels est une opération, ou ensemble d’opérations, portant sur des données personnelles quelques soit le procédé utilisé (collecte, enregistrement, organisation, conservation, adaptation …). 
        Un traitement de données personnelles n’est pas nécessairement informatisé : les fichiers papier sont également concerné et doivent être protégé dans les mêmes conditions. 

</p>

<h2>Qui est concerné par le RGPD ?</h2>
    <p> Toute organisme quelques soit la taille, son pays d’implantation et son activité peut être concerné. Le RGPD s’applique à toute organisation publiques et privés, qui traitent des données personnelles pour son compte ou non, dès lors :
    <ul>
    <li> Qu’elle soit établie sur le territoire de l’Union Européenne</li>
    <li>  Ou que son activité cible directement des résidents européens</li>.

   </ul>
        <p> Le RGPD concerne aussi les sous-traitants qui traitent des données personnelles pour le compte d’autre organismes. </p>

</p>
</div>
</html>